In [135]:
import pandas as pd
from FixturesOdds import FixturesOdds
import numpy as np
import matplotlib.pyplot as plt

In [136]:
import FootballClf

In [137]:
def applic_odds(row):
    
    if row['prediction'] != row['HomeTeamResult']:
        return 0
    elif row['HomeTeamResult'] == 'W' :
        return row['HomeOdds']
    elif row['HomeTeamResult'] =='D':
        return row['DrawOdds']
    else:
        return row['AwayOdds']

In [138]:
class Report():
    
    def AccountBalance(self,fix, start_date, end_date, start_bal):
        fix.df['stake']=-1
        fix.df['applic_odds'] = fix.df.apply(applic_odds, axis=1) #decide on payout
        fix.df['weeklyprofit']=fix.df.applic_odds + fix.df.stake
        df1=fix.df[fix.df.FixtureDateAsDate>=start_date]
        df=df1[df1.FixtureDateAsDate<=end_date]
        
        grouper = df1.groupby(df1.FixtureDateAsDate.dt.to_period('W').dt.start_time)
        df = pd.DataFrame(grouper.applic_odds.sum())

        df['stake'] = grouper.stake.sum()
        df['weeklyprofit']=df.applic_odds + df.stake
        df['betting_account'] = df.weeklyprofit.cumsum() + start_bal

        
        return df

In [139]:
X=fix_pred.X()
c=FootballClf.FootballClf()
clf=c.load_by_name('betting clf_1.1')

In [200]:
fix_pred=FixturesOdds()
fix_pred.fix_load('vwCSV_3','vwCSV_3.csv', False) # no reresh
fix_pred.do_calcs()
fix_pred.clean_predict()

In [203]:
fix_pred.df['prediction'] = clf.predict(fix_pred.X())

In [181]:
fix_pred.filter_by_col('season',2018).filter_by_col('leagueid',3)

In [143]:
report=Report()

In [144]:
r=report.AccountBalance(fix_pred, '2018-08-01', '2018-12-31', 50)
r

                   applic_odds  stake  weeklyprofit  betting_account
FixtureDateAsDate
2018-08-06               17.44    -14          3.44            53.44
2018-08-13               14.60    -12          2.60            56.04
2018-08-20               23.16    -22          1.16            57.20
2018-08-27               12.58    -12          0.58            57.78
2018-09-10                7.10    -12         -4.90            52.88
2018-09-17               24.82    -24          0.82            53.70
2018-09-24                6.60    -12         -5.40            48.30
2018-10-01               17.47    -24         -6.53            41.77
2018-10-15                6.86    -12         -5.14            36.63
2018-10-22               33.21    -24          9.21            45.84
2018-10-29                7.35    -12         -4.65            41.19
2018-11-05                5.50    -12         -6.50            34.69

In [182]:
disp_cols=['FixtureDateAsDate','HomeTeam', 'AwayTeam', 'prediction', 'HomeOdds', 
           'DrawOdds', 'AwayOdds', 'HomeTeamResult']

In [195]:
df = fix_pred.df

In [184]:
df['weekbegin'] = df.FixtureDateAsDate.dt.to_period('W').dt.start_time

In [185]:
df[df.FixtureDateAsDate>'2018-11-01'][disp_cols]

,FixtureDateAsDate,HomeTeam,AwayTeam,prediction,HomeOdds,DrawOdds,AwayOdds,HomeTeamResult
4447,2018-11-03,Blackpool,Bristol Rovers,W,1.95,3.25,4.00,L
5937,2018-11-03,Coventry City,Accrington Stanley,W,2.10,3.40,3.30,D
4262,2018-11-03,Scunthorpe United,Oxford United,L,2.75,3.40,2.45,D
3993,2018-11-03,Charlton Athletic,Doncaster Rovers,W,2.15,3.40,3.25,W
4563,2018-11-03,Wycombe Wanderers,Peterborough United,L,2.50,3.30,2.70,W
5255,2018-11-03,Barnsley,Southend United,W,1.80,3.50,4.33,W
710,2018-11-03,Walsall,Burton Albion,L,2.40,3.40,2.80,L
7771,2018-11-03,Rochdale,Luton Town,L,3.10,3.40,2.20,D
2956,2018-11-03,Plymouth Argyle,Sunderland,L,3.70,3.60,1.91,L
4888,2018-11-03,Bradford City,Portsmouth,L,4.75,3.90,1.65,L
6713,2018-11-03,AFC Wimbledon,Shrewsbury Town,L,2.80,3.10,2.55,L
4066,2018-11-03,Gillingham,Fleetwood Town,L,2.65,3.30,2.55,W
3852,2018-11-06,Walsall,Charlton Athletic,L,2.95,3.20,2.40,L
3442,2018-11-06,Gillingham,Blackpool,L,2.70,3.20,2.60,L

In [196]:
pd.crosstab([df.leagueid, df.prediction], df.HomeTeamResult, margins=True)

HomeTeamResult         D    L    W  All
leagueid prediction
1        L             9   27    5   41
         W            15   11   43   69
2        D             2    1    2    5
         L            16   19   20   55
         W            41   27   64  132
3        D             0    1    2    3
         L            12   38   16   66
         W            40   27   54  121
4        D             0    0    1    1
         L             7    1    0    8
         W             6    2    7   15
All                  148  154  214  516

In [193]:
fix_pred.filter_by_col('season',2018)

In [201]:
fix_pred.filter_by_col('season',2018).filter_by_col('leagueid',4)

In [204]:
df=fix_pred.df
df[disp_cols]

,FixtureDateAsDate,HomeTeam,AwayTeam,prediction,HomeOdds,DrawOdds,AwayOdds,HomeTeamResult
6703,2018-08-11,Cambridge United,Notts County,D,2.45,3.25,2.80,W
8255,2018-08-11,Yeovil Town,Mansfield Town,L,3.60,3.30,2.05,D
3757,2018-08-11,Carlisle United,Northampton Town,L,2.55,3.20,2.75,D
7965,2018-08-11,Lincoln City,Swindon Town,W,1.83,3.60,4.10,W
7874,2018-08-11,Newport County,Crewe Alexandra,W,2.40,3.30,2.85,W
5587,2018-08-11,Tranmere,Cheltenham Town,W,2.00,3.40,3.60,W
7295,2018-08-11,Colchester United,Port Vale,W,2.05,3.30,3.60,W
6029,2018-08-11,Morecambe,Exeter City,L,3.20,3.30,2.20,L
7499,2018-08-11,Crawley Town,Stevenage,W,2.30,3.25,3.10,L
5020,2018-08-11,Milton Keynes Dons,Bury,W,1.80,3.50,4.33,W
3857,2018-08-11,Forest Green Rovers,Oldham Athletic,L,2.45,3.20,2.85,D
9068,2018-08-17,Notts County,Yeovil Town,W,1.65,3.70,5.25,L
5207,2018-08-18,Cheltenham Town,Carlisle United,L,2.40,3.30,2.85,D
7387,2018-08-18,Mansfield Town,Colchester United,W,2.20,3.30,3.20,D
6349,2018-08-18,Bury,Forest Green Rovers,W,2.00,3.40,3.60,D
6508,2018-08-18,Grimsby Town,Lincoln City,L,3.90,3.30,1.95,D
10410,2018-08-18,Oldham Athletic,Macclesfield,W,1.78,3.50,4.50,W
11412,2018-08-18,Swindon Town,Tranmere,W,2.10,3.30,3.40,W
3557,2018-08-18,Crewe Alexandra,Milton Keynes Dons,L,2.90,3.40,2.30,D
8620,2018-08-18,Stevenage,Morecambe,W,1.65,3.80,5.00,D
4759,2018-08-18,Northampton Town,Cambridge United,W,1.91,3.30,4.10,D
7797,2018-08-18,Port Vale,Crawley Town,W,2.05,3.50,3.40,D
8660,2018-08-18,Exeter City,Newport County,W,2.00,3.40,3.60,D
3865,2018-08-21,Yeovil Town,Oldham Athletic,L,2.40,3.40,2.80,D

In [171]:
df[df.FTHG.isna()][disp_cols]

,FixtureDateAsDate,HomeTeam,AwayTeam,prediction,HomeOdds,DrawOdds,AwayOdds,HomeTeamResult
6877,2018-08-18,Coventry City,Plymouth Argyle,W,2.10,3.30,3.40,D
5989,2018-08-18,Walsall,Gillingham,W,2.20,3.20,3.25,D
5697,2018-08-18,Shrewsbury Town,Blackpool,W,2.15,3.10,3.50,D
5354,2018-08-18,Peterborough United,Luton Town,W,2.35,3.30,2.95,D
434,2018-08-18,Barnsley,AFC Wimbledon,W,1.62,3.70,5.50,D
5633,2018-08-18,Portsmouth,Oxford United,W,1.80,3.50,4.40,D
5809,2018-08-18,Southend United,Bradford City,W,1.91,3.40,3.90,D
8402,2018-08-18,Wycombe Wanderers,Bristol Rovers,L,2.65,3.25,2.60,D
878,2018-08-18,Burton Albion,Doncaster Rovers,W,2.15,3.25,3.40,D
4820,2018-08-18,Fleetwood Town,Rochdale,W,2.50,3.20,2.80,D
6327,2018-08-18,Accrington Stanley,Charlton Athletic,L,2.75,3.20,2.55,D

In [174]:
df[df.HomeTeam=='Plymouth Argyle']

,FixtureID,season,leagueid,fixDate,HomeTeamID,FTHG,AwayTeamID,FTAG,HomeELO_prev,AwayELO_prev,...,DrawOdds,AwayOdds,FixtureDateAsDate,Target,HTRecord,ATRecord,ExpectedResult,FTG_3,FTG_5,prediction
5462,9461,2018,3,2018-08-11 00:00:00.000,40,1.0,46,1.0,1473.0,1473.0,...,3.2,2.55,2018-08-11,0.5,0.5,0.5,1.0,1.0,2.0,L