In [37]:
import pandas as pd
from FixturesOdds import FixturesOdds
import numpy as np

In [38]:
%load_ext autoreload 
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
filename = 'vwCSV_3.csv'

In [40]:
fix=FixturesOdds()
fix.fix_load('vwCSV_3','vwCSV_3.csv', True) # no reresh
fix.do_calcs()

In [41]:
fix.last_result_by_league()

AttributeError: 'FixturesOdds' object has no attribute 'last_result_by_league'

In [26]:
#last fixture with a result by league
df['fixDate'].groupby(df['leagueid']).max()

leagueid
1    2019-05-11 00:00:00.000
2    2019-05-05 00:00:00.000
3    2018-10-20 00:00:00.000
4    2018-10-20 00:00:00.000
5    2018-08-25 00:00:00.000
Name: fixDate, dtype: object

In [35]:
df[df.FTHG.notnull()].fixDate.groupby(df['leagueid']).max()

leagueid
1    2018-10-22 00:00:00.000
2    2018-10-24 00:00:00.000
3    2018-10-20 00:00:00.000
4    2018-10-20 00:00:00.000
Name: fixDate, dtype: object

In [42]:
# what are the returns if just bet on short odds
fix=FixturesOdds()
fix.fix_load('vwCSV_3','vwCSV_3.csv', True) # no reresh
fix.do_calcs()

In [43]:
df=fix.df

In [93]:
oddslist=['HomeOdds','DrawOdds', 'AwayOdds']

In [47]:
df[['HomeOdds','DrawOdds', 'AwayOdds']].mean()

HomeOdds    2.470499
DrawOdds    3.528682
AwayOdds    3.713422
dtype: float64

In [110]:
size=400
df2=pd.DataFrame()
df2['fixdate']=pd.date_range(start='1/1/2018', periods=size)
df2['HomeOdds']=np.random.normal(1.8, 0.5,size=size)
df2['DrawOdds']=np.random.normal(3.1, 0.6,size=size)
df2['AwayOdds']=np.random.normal(2.2, 0.8,size=size)
df2['Result']=np.random.choice(['W','D','L'], size)
df2['prediction']=df2[oddslist].idxmin(axis=1).map({'HomeOdds':'W', 'DrawOdds':'D', 'AwayOdds':'L'})
df2['min_odds']=df2[oddslist].min(axis=1)
df2['payoff'] = np.where(df2['Result']==df2['prediction'],df2['min_odds'] , -1)
df2.head(10)

,fixdate,HomeOdds,DrawOdds,AwayOdds,Result,prediction,min_odds,payoff
0,2018-01-01,2.162668,3.522006,0.912308,L,L,0.912308,0.912308
1,2018-01-02,1.303807,2.981358,3.552371,W,W,1.303807,1.303807
2,2018-01-03,2.053227,3.066047,0.801882,D,L,0.801882,-1.000000
3,2018-01-04,1.544017,2.156094,2.477840,L,W,1.544017,-1.000000
4,2018-01-05,1.849123,2.538142,3.290917,L,W,1.849123,-1.000000
5,2018-01-06,1.798046,4.561103,2.428547,D,W,1.798046,-1.000000
6,2018-01-07,2.135899,2.130196,2.488489,D,D,2.130196,2.130196
7,2018-01-08,2.124429,3.910289,2.071522,D,L,2.071522,-1.000000
8,2018-01-09,2.385880,2.943683,2.925025,W,W,2.385880,2.385880
9,2018-01-10,0.793213,2.953858,1.853563,W,W,0.793213,0.793213

In [111]:
df2.groupby(df2.fixdate.dt.strftime('%Y-%W')).payoff.sum()

fixdate
2018-01    0.346312
2018-02    4.581864
2018-03   -0.869049
2018-04   -0.879119
2018-05   -2.492804
2018-06   -4.195418
2018-07    0.910200
2018-08   -3.951532
2018-09   -0.837981
2018-10   -2.735404
2018-11   -1.624214
2018-12   -2.202304
2018-13    4.803001
2018-14   -2.457463
2018-15    4.231049
2018-16   -2.272540
2018-17   -1.085984
2018-18   -4.084758
2018-19   -4.871701
2018-20    3.792220
2018-21    4.285593
2018-22   -7.000000
2018-23   -4.548233
2018-24    5.513872
2018-25   -4.670341
2018-26    4.119102
2018-27   -0.982648
2018-28    1.079463
2018-29    5.792911
2018-30    3.126353
2018-31    1.170642
2018-32    0.331710
2018-33   -1.077831
2018-34   -2.292138
2018-35   -1.728006
2018-36    0.384211
2018-37   -4.312200
2018-38   -4.037469
2018-39    1.890280
2018-40    0.077892
2018-41    3.558145
2018-42   -3.824316
2018-43   -7.000000
2018-44    3.605388
2018-45   -1.080483
2018-46    0.707447
2018-47   -7.000000
2018-48    2.131501
2018-49   -0.044825
2018-50    1.025906
2018-51   -2.286406
2018-52    1.814338
2018-53    0.652922
2019-00    1.509988
2019-01   -2.233864
2019-02    1.763772
2019-03   -0.264749
2019-04   -2.171357
2019-05    1.451649
Name: payoff, dtype: float64